@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a#logo {
  margin-top: 16px;
  width: 94px;
}

.logo {
  fill: #0E49B5;
}

.back_button {
  color: #FFFDF9;
  background-color: #0C1844;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 11px 30px 11px 30px;
  margin: 20px;
  text-decoration: none;
  font-size: 35px;
  font-weight: 500;
  border-radius: 13px;
  gap: 5px;
}

.highlight {
  color: #FF8800;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 130vh;
}
body header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #FFFDF9;
}
body header nav ul {
  display: flex;
  list-style: none;
  height: 100%;
}
body header nav ul li {
  border: rgba(18, 18, 18, 0.0705882353) solid 1px;
  height: 100%;
}
body header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  text-decoration: none;
  height: 100%;
  padding: 20px;
  margin: 0 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0C1844;
  transition: 0.3s;
}
body header nav ul li a:hover {
  color: #FF8800;
  transition: 0.3s;
}
body header nav ul li:last-child {
  background-color: #FF8800;
  border-radius: 5px;
}
body header nav ul li:last-child:hover {
  color: #0C1844;
}
body header nav ul li#selected {
  border-bottom: 5px solid #074998;
}
body input {
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #FFFDF9;
  color: #7b7b7b;
  border: none;
  border-radius: 5px;
}
body button {
  background-color: #FF8800;
  font-weight: 1000;
  padding: 15px 10px;
  font-size: 1.8rem;
  color: #FFFDF9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
body button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /*padding: 20px 15px;
  margin: 0 0 -2.5px -2.5px;*/
}
body main {
  margin-left: 100px;
  margin-right: 100px;
}
body main.index {
  min-height: calc(100vh - 110px);
  margin: auto;
}
body main.index section:first-child {
  background-image: url("../assets/uvodni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 110px);
}
body main.index section:first-child div {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
body main.index section:first-child div button {
  margin-top: 40px;
}
body main.index section:first-child h1 {
  font-size: 3rem;
  color: #FFFDF9;
  font-weight: 1000;
}
body main.index section:first-child p {
  color: #FFFDF9;
  font-size: 1.6rem;
}
body main.index section:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFDF9;
  padding: 40px 0 50px 0;
}
body main.index section:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #FFFDF9;
}
body main.index section:nth-child(2) > div div {
  background-color: #0F205F;
  padding: 20px;
  border-radius: 5px;
}
body main.index section:nth-child(2) > div div img {
  border-radius: 5px;
}
body main.index section:nth-child(2) > div div:first-child {
  border-right: rgba(0, 0, 0, 0.2588235294) 2px solid;
  padding-right: 20px;
}
body main.index section:nth-child(2) > div div h2 {
  color: #FFFDF9;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}
body main.index section:nth-child(2) > div div p {
  margin-left: 20px;
  color: #FFFDF9;
  font-size: 1.6rem;
}
body main.index section:nth-child(2) > div div button {
  margin-left: 20px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px 20px;
}
body main.index section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0F205F;
  margin: 50px 0;
}
body main.index section:nth-child(3) img {
  object-fit: cover;
  max-height: 60vh;
  width: 50%;
}
body main.index section:nth-child(3) div {
  padding: 0 50px;
  width: 50%;
}
body main.index section:nth-child(3) div * {
  color: #FFFDF9;
}
body main.index section:nth-child(3) div h2 {
  font-size: 2rem;
}
body main.index section:nth-child(3) div button {
  margin: 30px 0 0 0;
  font-weight: 700;
  padding: 5px 15px;
  font-size: 1.6rem;
}
body main.uredni-deska {
  height: calc(100vh - 110px);
  width: 100%;
  padding-top: 6%;
  display: flex;
  justify-content: center;
  margin: auto;
}
body main.uredni-deska ul {
  display: flex;
  list-style: none;
  width: 700px;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
}
body main.uredni-deska ul li {
  width: 100%;
  margin: 15px 0;
}
body main.uredni-deska ul li a {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 0;
  background-color: #0F205F;
  text-decoration: none;
  color: #FFFDF9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
}
body main.uredni-deska ul li a:hover {
  background-color: #FF8800;
  transition: 0.3s;
}
body main.o-nas {
  min-height: calc(100vh - 110px);
  margin: auto;
}
body main.o-nas .mapa {
  position: relative;
}
body main.o-nas .mapa a {
  position: absolute;
  transition: 0.3s;
}
body main.o-nas .mapa .waypoint1 {
  top: 33.5%;
  left: 37%;
}
body main.o-nas .mapa .waypoint1:hover {
  top: 32.5%;
}
body main.o-nas .mapa .waypoint2 {
  top: 25.5%;
  left: 48%;
}
body main.o-nas .mapa .waypoint2:hover {
  top: 24.5%;
}
body main.o-nas .mapa .waypoint3 {
  top: 52.5%;
  left: 62.5%;
}
body main.o-nas .mapa .waypoint3:hover {
  top: 51.5%;
}
body main.o-nas section {
  margin: 95px;
  display: flex;
  justify-content: center;
}
body main.o-nas section h1,
body main.o-nas section p {
  margin: 40px;
}
body main.o-nas section h1 {
  font-size: 40px;
  font-weight: bold;
}
body main.detail-skoly {
  min-height: calc(100vh - 110px);
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
body main.detail-skoly a {
  margin: 0;
}
body main.detail-skoly h1 {
  font-size: 64px;
  font-weight: 500;
  color: #0C1844;
}
body main.detail-skoly .arrow1 {
  position: absolute;
  width: 48px;
  top: 45%;
  left: 2%;
}
body main.detail-skoly .arrow2 {
  position: absolute;
  width: 48px;
  top: 45%;
  right: 2%;
  rotate: 180deg;
}
body main.detail-skoly div {
  position: relative;
  display: flex;
  justify-content: center;
}
body main.detail-skoly div img {
  margin: 40px;
  width: 100%;
}
body main.detail-skoly p {
  font-size: 32px;
}
body main.detail-skoly .infopanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
body main.detail-skoly .infopanel p {
  margin: 0px;
  font-size: 24px;
}
body main.detail-skoly section div {
  display: flex;
  justify-content: space-between;
}
body main.detail-skoly section div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
body main.detail-skoly section div div .logoskoly {
  width: 148px;
  height: 148px;
}
body main.detail-skoly section div div p {
  margin: auto;
}
body footer {
  background-color: #0C1844;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body footer .hover {
  transition: 0.3s;
  cursor: pointer;
}
body footer .hover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  top: 17%;
  transition: 0.3s;
}
body footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
body footer section:nth-child(2) {
  border-top: #FFFDF9 solid 1px;
  padding-top: 5px;
}
body footer section:nth-child(2) p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFDF9;
  text-align: center;
  width: 100%;
}
body footer div {
  color: #FFFDF9;
  font-weight: normal;
  font-size: 1.4rem;
}
body footer div:first-child {
  display: flex;
  flex-direction: column;
}
body footer div span.highlight {
  justify-self: right;
}
body footer div:nth-child(2) {
  position: relative;
}
body footer div:nth-child(2) img:last-child {
  position: absolute;
  transition: 0.3s;
  top: 20%;
  right: 57%;
}
body footer div:nth-child(2) img:last-child:hover {
  top: 17%;
}
body footer div:nth-child(3) p {
  display: flex;
  align-items: center;
  gap: 20px;
}
body footer div:nth-child(3) svg {
  width: 50px;
}
body footer div:nth-child(3) span {
  display: flex;
  align-items: center;
}
body footer div:nth-child(3) span.highlight {
  display: block;
  margin: 0 0 20px -45px;
}

@media (prefers-color-scheme: dark) {
  .logo {
    fill: #FF8800;
  }
  .back_button {
    background-color: #FF8800;
  }
  body {
    background-color: #0F205F;
  }
  body header {
    background-color: #0C1844;
  }
  body header nav ul li a {
    color: #FFFDF9;
  }
  li:last-child body header nav ul li a:hover {
    color: #0C1844;
  }
  body header nav ul li:not(:last-child) {
    border: rgba(0, 0, 0, 0.0705882353) 1px solid;
  }
  body header nav ul li#selected {
    border-bottom: 5px solid #FF8800;
  }
  body main.index section:nth-child(2) {
    background-color: #0F205F;
  }
  body main.index section:nth-child(2) > div {
    background-color: #0F205F;
  }
  body main.index section:nth-child(2) > div > div {
    background-color: #FFFDF9;
  }
  body main.index section:nth-child(2) > div > div h2,
  body main.index section:nth-child(2) > div > div p {
    color: #121212;
  }
  main.uredni-deska {
    background-color: #0F205F;
  }
  main.uredni-deska ul li a {
    background-color: #FFFDF9 !important;
    color: #0F205F !important;
  }
  main.uredni-deska ul li a:hover {
    background-color: #FF8800 !important;
    color: #0C1844 !important;
  }
  main.o-nas {
    background-color: #0F205F;
  }
  main.o-nas h1,
  main.o-nas p {
    color: #FFFDF9 !important;
  }
  main.detail-skoly h1 {
    color: #FF8800 !important;
  }
  main.detail-skoly p {
    color: #FFFDF9 !important;
  }
}
body header nav ul li:last-child a:hover {
  color: #0C1844;
}/*# sourceMappingURL=style.css.map */